*.iml
.cxx
.DS_Store
.externalNativeBuild
.gradle
/.idea/*
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/app/.kotlintest
/build
/captures
/local.properties