<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mealofjoy.android.twitter">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".view.TwitterSearchActivity"
            android:configChanges="uiMode" />
    </application>
</manifest>